<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- include('./includes/meta-includes'); %>
	<%- include('./includes/css-includes'); %>
	<style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>

</head>
<body>
<%- include('./includes/header-includes'); %>

<div class="ui main container">
	<div class="ui middle aligned center aligned grid">
	  <div class="column">
	    <h2 class="ui teal image header">
	      <div class="content">
	        Create your account
	      </div>
	    </h2>
		<div class="ui negative message hidden">
		  <div class="header">
		    Error message header here
		  </div>
		  <p>Full description
		</p></div>
	    <form class="ui large form">
	      <div class="ui stacked segment">
	      <div class="field">
	          <div class="ui left icon input">
	            <i class="user icon"></i>
	            <input type="text" name="name" placeholder="Your name" required="true">
	          </div>
	        </div>
	        <div class="field">
	          <div class="ui left icon input">
	            <i class="user icon"></i>
	            <input type="email" name="email" placeholder="E-mail address" required="true">
	          </div>
	        </div>
	        <div class="field">
	          <div class="ui left icon input">
	            <i class="lock icon"></i>
	            <input type="password" name="password" placeholder="Password" required="true">
	          </div>
	        </div>
	        <button class="ui fluid large teal submit button" type="submit">Signup</button>
	      </div>

	      <div class="ui error message"></div>
	      <div class="ui message">
	       Existing User? <a href="/login">Login</a>
	    </div>

	    </form>
	  </div>
	</div>
</div>
	<%- include('./includes/js-includes'); %>
	<script>
		$(document).ready(function() {
			//handle form submission
			$('form').submit(function(e) {
				e.preventDefault();
				var formData = {
					'name': $('input[name=name]').val(),
					'email': $('input[name=email]').val(),
					'password': $('input[name=password]').val(),
				};
				//make ajax post to server
				$.post({
					url: '/apis/register',
					data: formData,
					error: function(data) {
						window.setTimeout(function(){
							window.location.href = '/login'
						}, 1000)
						$('.negative > .header').html(data.responseText)
						$('.negative > p').html('Redirecting you to login page in 1 sec.')
						$('.message').removeClass('hidden')
					},
					success: function(data){
						window.location.reload();
					}
				})
			})
		})
	</script>
</body>
</html>